<div class="mt-8 text-center text-gray-400">
    <span class="font-bold text-base text-white">DxDeployer</span>
    : Simplifying
    <span class="font-bold text-base text-pink-300">Complexity</span>,
    Amplifying
    <span class="font-bold text-base text-purple-300">Results</span>.
    <button class="inline bg-white hover:bg-gray-200 mx-2 px-2 py-[2px] rounded-3xl text-black">Get Started</button>
</div>
<div class="flex flex-col border-gray-800 mx-32 mt-2 border h-screen">
    <div class="flex no-scrollbar">
        @for(value of [1,2,3,4,5,6,7, 8];track value){
        <div class="inline-block flex-1 border-gray-800 hover:bg-[#171616] border h-[100px]"></div>
        }
    </div>
    <div
        class="flex flex-col flex-1 justify-center items-center bg-[url('assets/earth.jpg')] bg-cover bg-no-repeat text-center">
        <div class="mb-5 font-bold text-4xl text-gray-400">
            <span class="text-white"><span class="text-indigo-200">DxDeployer</span>, Your Platform as a Service.</span>
            <br>
            Lightning-Fast Deployment Experiences,
            <br>
            in Minutes.
        </div>
        <div class="m-2 font-semibold text-lg">
            <button class="bg-white hover:bg-gray-300 mx-2 px-5 py-1 rounded-3xl h-12 text-black">
                <img src="/assets/meteor-dark.png" class="inline pb-[2px] w-5 h-5">
                <span class="ml-2">Start Deployment</span>
            </button>
            <button class="inline bg-[#1f1f1f] hover:bg-gray-800 mx-2 px-5 py-1 rounded-3xl h-12 text-white">Read
                Docs
            </button>
        </div>

    </div>
</div>
<div class="flex justify-center items-center border-gray-800 mx-32 border h-[150px]">
    <div class="text-2xl text-center">
        Design and Develop experience
        <br>
        make people's life easier.
    </div>
</div>
<div class="flex justify-center items-center border-gray-800 mx-32 border border-t-transparent h-[20px]"></div>
<div class="flex border-gray-800 mx-32 border border-t-transparent h-[120px] text-left">
    <div
        class="flex flex-[2] justify-left items-center border-gray-800 pl-4 border border-t-transparent border-r-transparent h-[120px] text-2xl">
        Seamless support
        <br>
        for your favorite framework.
    </div>
    <div
        class="flex flex-1 justify-center items-center border-gray-800 hover:bg-[#171616] border border-t-transparent border-r-transparent h-[120px]">
        <img src="/assets/react.png" class="w-20 hover:w-24 h-20 hover:h-24">
    </div>
    <div
        class="flex flex-1 justify-center items-center border-gray-800 hover:bg-[#171616] border border-t-transparent border-r-transparent h-[120px]">
        <img src="/assets/angular.png" class="w-20 hover:w-24 h-20 hover:h-24">
    </div>
    <div
        class="flex flex-1 justify-center items-center border-gray-800 hover:bg-[#171616] border border-t-transparent border-r-transparent h-[120px]">
        <img src="/assets/vue.png" class="w-20 hover:w-24 h-20 hover:h-24">
    </div>
</div>
<div class="flex justify-center items-center border-gray-800 mx-32 border h-[150px]">
    <div class="text-2xl text-cente hover:text-3xl">
        <span class="text-green-300 hover:text-gray-400">Scalable.</span>
        &nbsp;&nbsp;
        <span class="text-blue-300 hover:text-gray-400">Reliable.</span>
        &nbsp;&nbsp;
        <span class="text-red-300 hover:text-gray-400">Secure.</span>
    </div>
</div>
<div class="mb-20"></div>