<div class="text-center mt-8 text-gray-400">
    <span class="font-bold text-base text-white">DxDeployer</span>
    : Simplifying
    <span class="font-bold text-base text-pink-300">Complexity</span>,
    Amplifying
    <span class="font-bold text-base text-purple-300">Results</span>.
    <button class="bg-white hover:bg-gray-200 rounded-3xl text-black px-2 py-[2px] inline mx-2">Get Started</button>
</div>
<div class="h-screen border border-gray-800 mx-32 mt-2 flex flex-col">
    <div class="no-scrollbar flex">
        @for(value of [1,2,3,4,5,6,7, 8];track value){
        <div class="border border-gray-800 h-[100px] flex-1 inline-block hover:bg-[#171616]"></div>
        }
    </div>
    <div
        class="flex-1 bg-[url('assets/earth.jpg')] bg-no-repeat bg-cover flex flex-col justify-center items-center text-center">
        <div class="text-4xl font-bold mb-5 text-gray-400">
            <span class="text-white"><span class="text-indigo-200">DxDeployer</span>, Your Platform as a Service.</span>
            <br>
            Lightning-Fast Deployment Experiences,
            <br>
            in Minutes.
        </div>
        <div class="m-2 text-lg font-semibold">
            <button class="bg-white hover:bg-gray-300 rounded-3xl text-black px-5 py-1 mx-2 h-12">
                <img src="/assets/meteor-dark.png" class="w-5 h-5 pb-[2px] inline">
                <span class="ml-2">Start Deployment</span>
            </button>
            <button class="bg-[#1f1f1f] hover:bg-gray-800 rounded-3xl text-white px-5 h-12 py-1 inline mx-2">Read
                Docs
            </button>
        </div>

    </div>
</div>
<div class="h-[150px] mx-32 flex justify-center items-center border border-gray-800">
    <div class="text-2xl text-center">
        Design and Develop experience
        <br>
        make people's life easier.
    </div>
</div>
<div class="h-[20px] mx-32 flex justify-center items-center border border-t-transparent border-gray-800"></div>
<div class="h-[120px] mx-32 flex border border-t-transparent border-gray-800 text-left">
    <div
        class="h-[120px] flex-[2] border border-gray-800 flex justify-left items-center border-t-transparent border-r-transparent pl-4 text-2xl">
        Seamless support
        <br>
        for your favorite framework.
    </div>
    <div
        class="h-[120px] flex-1 flex justify-center items-center border border-gray-800 border-t-transparent border-r-transparent hover:bg-[#171616]">
        <img src="/assets/react.png" class="h-20 w-20 hover:h-24 hover:w-24">
    </div>
    <div
        class="h-[120px] flex-1 flex justify-center items-center border border-gray-800 border-t-transparent border-r-transparent hover:bg-[#171616]">
        <img src="/assets/angular.png" class="h-20 w-20 hover:h-24 hover:w-24">
    </div>
    <div
        class="h-[120px] flex-1 flex justify-center items-center border border-gray-800 border-t-transparent border-r-transparent hover:bg-[#171616]">
        <img src="/assets/vue.png" class="h-20 w-20 hover:h-24 hover:w-24">
    </div>
</div>
<div class="h-[150px] mx-32 flex justify-center items-center border border-gray-800">
    <div class="text-2xl text-cente hover:text-3xl">
        <span class="hover:text-gray-400 text-green-300">Scalable.</span>
        &nbsp;&nbsp;
        <span class="hover:text-gray-400 text-blue-300">Reliable.</span>
        &nbsp;&nbsp;
        <span class="hover:text-gray-400 text-red-300">Secure.</span>
    </div>
</div>
<div class="mb-20"></div>