<footer class="h-[200px] px-6 grid-cols-5 grid">
    <div class="flex flex-col h-[180px] justify-between items-start">
        <div class="flex items-center">
            <img src="/assets/meteor-light.png" alt="logo" class="h-5">
            <span class="ml-2">© 2024</span>
        </div>
        <div class="social flex">
            <div class="bg-[url('assets/github-light.png')] bg-contain h-6 w-6"></div>
            <div class="bg-[url('assets/twitter-light.png')] bg-contain h-6 w-6 mx-2"></div>
        </div>
    </div>
    <div class="text-sm text-gray-500" id="product">
        <span class="text-white">Product</span>
        <div class="hover:text-white">Infrastructure</div>
        <div class="hover:text-white">v1</div>
        <div class="hover:text-white">Analytics</div>
        <div class="hover:text-white">API</div>
    </div>
    <div class="text-sm text-gray-500" id="resource">
        <span class="text-white">Resource</span>
        <div class="hover:text-white">Docs</div>
        <div class="hover:text-white">Pricing</div>
        <div class="hover:text-white">Guides</div>
        <div class="hover:text-white">Help</div>
    </div>
    <div class="text-sm text-gray-500" id="Team">
        <span class="text-white">Team</span>
        <div class="hover:text-white">About</div>
        <div class="hover:text-white">Blog</div>
        <div class="hover:text-white">Contact US</div>
        <div class="hover:text-white">Open Source</div>
        <div class="hover:text-white">Privacy Policy</div>
    </div>
    <div class="text-sm text-gray-500" id="Pref">
        <span class="text-white">Preference</span>
        <div class="hover:text-white">Theme</div>
        <div class="hover:text-white">View</div>
    </div>
</footer>