<nav class="box-border flex justify-between bg-[#0e0e0e] px-4 py-2 max-w-[100vw] dark">
    <ul class="flex items-center">
        <li class="mr-4"><img src="/assets/meteor-light.png" class="h-5"></li>
        <li class="mr-4 font-semibold">{{myInfo()?.data?.username}} 's</li>
        <li class="mr-4">
            <brn-select class="inline-block bg-[#0e0e0e] border-none max-h-[40px] dark" placeholder="My Project">
                <hlm-select-trigger class="bg-[#0e0e0e] h-10">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="w-56">
                    <hlm-option value="Refresh">Refresh</hlm-option>
                    <hlm-option value="Settings">Settings</hlm-option>
                    <hlm-option value="Help">Help</hlm-option>
                    <hlm-option value="Signout">Sign out</hlm-option>
                </hlm-select-content>
            </brn-select>
        </li>
    </ul>
    <ul class="flex items-center">
        <li class="mr-4 text-gray-400">
            <button class="hover:bg-gray-700 px-2 py-1 border rounded-md hover:text-gray-200">Feedback</button>
        </li>
        <li class="mr-4 text-gray-400 hover:text-gray-200">Changelog</li>
        <li class="mr-4 text-gray-400 hover:text-gray-200">Help</li>
        <li class="mr-4 text-gray-400 hover:text-gray-200">Docs</li>
        <li class="mr-4 text-gray-400 hover:text-gray-200">Profile</li>
        <!-- Bell Icon -->
        <notification />

        <!-- ProfileIcon -->
        <profile-icon />
    </ul>
</nav>
<main id="main" class="box-border max-w-[100vw]">
    <hr class="border-gray-600">
    <div class="flex justify-start items-center px-5 h-28">
        <span class="font-semibold text-[2rem]">Account Settings</span>
    </div>
    <hr class="border-gray-600">

    <div class="flex mt-10 w-screen min-h-[80vh]">
        <div id="flex-1 bg-red-600">
            <ul class="flex flex-col items-start mr-10 px-5 w-full h-[40vh] text-gray-400">
                @for (option of pageOption; track $index) {
                    <button 
                        [routerLink]="option"
                        class="hover:bg-[#131313] my-1 px-3 py-1 rounded-md w-full text-start hover:text-gray-200"> 
                        {{option | titlecase}}
                    </button>
                }
            </ul>
        </div>
        <div id="flex-4 px-10 bg-blue-400 w-full box-border">
            Hello
        </div>
    </div>
</main>
<dashboard-footer/>
<hr class="border-gray-600">
<hlm-toaster />