<nav class="px-5 py-3 flex h-16 justify-between">
    <div class="flex items-center">
        <img src="/assets/meteor-light.png" class="h-8">
        <span class="mx-2 font-bold text-xl">DxDeployer</span>
        <button
            class="px-2 py-1 text-gray-50 hover:text-white font-normal hover:bg-[#3c3c3c] hover:rounded-3xl hover:text-grey">Product</button>
        <button
            class="px-2 py-1 text-gray-50 font-normal hover:bg-[#3c3c3c] hover:rounded-3xl hover:text-grey">Solution</button>
        <button
            class="px-2 py-1 text-gray-50 font-normal hover:bg-[#3c3c3c] hover:rounded-3xl hover:text-grey">Docs</button>
        <button
            class="px-2 py-1 text-gray-50 font-normal hover:bg-[#3c3c3c] hover:rounded-3xl hover:text-grey">Pricing</button>
    </div>
    <div class="flex items-center">
        <Span class="text-gray-200 p-2 font-normal hover:text-white hover:font-semibold">Contact</Span>
        <button (onclick)="navToLogin()">
            <div class="px-2 py-1 mx-3 border-white border rounded-md text-sm hover:bg-white
            hover:text-black">Login</div>
        </button>
        <div class="px-2 py-1 bg-white rounded-md text-black text-sm hover:bg-gray-50" routerLink="/register">Sign
            up</div>
    </div>
</nav>
<!-- <nav>
    <div>Logo</div>
    <ul>
        <li>Product</li>
        <li>Solution</li>
        <li>Docs</li>
        <li>Contact</li>
    </ul>
    <div>Menu</div>
</nav> -->