<nav class="flex justify-between px-5 py-3 h-16">
    <div class="flex items-center">
        <img src="/assets/meteor-light.png" class="h-8">
        <span class="mx-2 font-bold text-xl">DxDeployer</span>
        <button
            class="hover:bg-[#3c3c3c] px-2 py-1 hover:rounded-3xl font-normal text-gray-50 hover:text-white hover:text-grey">Product</button>
        <button
            class="hover:bg-[#3c3c3c] px-2 py-1 hover:rounded-3xl font-normal text-gray-50 hover:text-grey">Solution</button>
        <button
            class="hover:bg-[#3c3c3c] px-2 py-1 hover:rounded-3xl font-normal text-gray-50 hover:text-grey">Docs</button>
        <button
            class="hover:bg-[#3c3c3c] px-2 py-1 hover:rounded-3xl font-normal text-gray-50 hover:text-grey">Pricing</button>
    </div>
    <div class="flex items-center">
        <Span class="p-2 font-normal hover:font-semibold text-gray-200 hover:text-white">Contact</Span>
        <button routerLink="/login">
            <div class="border-white hover:bg-white mx-3 px-2 py-1 border rounded-md text-sm hover:text-black">Login</div>
        </button>
        <div class="bg-white hover:bg-indigo-400 px-2 py-1 rounded-md text-black text-sm hover:text-white" routerLink="/register">Sign
            up</div>
    </div>
</nav>