<div class="flex flex-col bg-contain bg-no-repeat w-screen h-screen">
    <nav class="flex justify-between p-4">
        <div>
            <img src="/assets/meteor-light.png" routerLink="/home" class="w-8 h-8" />
        </div>
        <div>
            <button class="mr-4 text-gray-400">Connect</button>
            <button routerLink="/login" class="border-gray-500 hover:bg-gray-500 px-3 py-1 border rounded-md">
                Login
            </button>
        </div>
    </nav>
    <div class="flex lg:flex-row flex-col flex-1 lg:items-center bg-black bg-opacity-20 w-screen h-[70vh]">
        <img src="{{ ratingEarth }}" class="w-[45vw] h-[40vw]" />

        <div class="flex flex-col justify-center bg-[url('assets/galaxy.jpg')] min-w-[50vw]">
            <div id="register-section" class="flex flex-col flex-1 justify-center items-center h-screen text-black">
                <form [formGroup]="registerForm" class="flex flex-col w-[70%]">
                    <span class="mb-4 font-bold text-2xl text-blue-300">Register</span>
                    <span class="mb-4 text-indigo-300 text-sm">Don't have a account.<br />Create your account, it takes
                        less than
                        a minutes.</span>


                    <div 
                        class="flex items-center bg-gray-500 bg-transparent mt-1 px-1 py-1 border-b-[1px] text-gray-100 focus:outline-none">
                        <i class="opacity-50 mx-2 fa-regular fa-user"></i>
                        <input [formControl]="username" type="username" type="text" placeholder="Username" class="flex-1 bg-transparent mx-1 focus:outline-none">
                    </div>
                    <p class="my-0 text-red-400 text-xs" [hidden]="username.valid || username.untouched">
                        Username is un-available
                    </p>

                    
                    <div 
                        class="flex items-center bg-gray-500 bg-transparent mt-1 px-1 py-1 border-b-[1px] text-gray-100 focus:outline-none">
                        <i class="opacity-50 mx-2 fa-at"></i>
                        <input [formControl]="email" type="email" placeholder="Email" class="flex-1 bg-transparent mx-1 focus:outline-none">
                    </div>
                    <p class="my-0 text-red-400 text-xs" [hidden]="email.valid || email.untouched">
                        Enter valid email address
                    </p>


                    <div 
                        class="flex items-center bg-gray-500 bg-transparent mt-1 px-1 py-1 border-b-[1px] text-gray-100 focus:outline-none">
                        <i class="opacity-50 mx-2 fa-key fa-solid"></i>
                        <input [formControl]="password" type="password" placeholder="Password" class="flex-1 bg-transparent mx-1 focus:outline-none">
                    </div>
                    <p class="my-0 text-red-400 text-xs" [hidden]="password.valid || password.untouched">
                        Length must be between 6-15 characters.
                    </p>


                    <div class="flex items-center bg-gray-500 bg-transparent mt-1 px-1 py-1 border-b-[1px] text-gray-100 focus:outline-none">
                        <i class="opacity-50 mx-2 fa-key fa-solid"></i>
                        <input [formControl]="confirmPassword" type="password" placeholder="Confirm Password" class="flex-1 bg-transparent mx-1 focus:outline-none">
                    </div>
                    <p class="my-0 text-red-400 text-xs" [hidden]="confirmPassword.valid || confirmPassword.untouched">
                        Length must be between 6-15 characters.
                    </p>
                    <p class="my-0 text-red-400 text-xs" 
                        [hidden]="confirmPassword.untouched || confirmPassword.getRawValue() == password.getRawValue()">
                        Password doesn't match.
                    </p>

                    <div class="my-2 mt-6 text-green-00 text-sm">
                        <input type="checkbox" class="mr-2" [formControl]="acceptTerms" />
                        <span class="text-gray-400">I accept terms and condition & privacy policy.</span>
                    </div>
                    <div class="flex justify-between mt-4">
                        <button class="text-[#F6DCAC]">Forget Password?</button>
                        @if (!this.registerForm.valid) {
                        <input (click)="registerUser()" type="submit" value="Continue"
                            class="bg-gray-500 my-2 rounded-md w-24 h-10 text-gray-100" />
                        } @else {
                        <input (click)="registerUser()" type="submit" value="Continue"
                            class="bg-[#028391] hover:bg-blue-400 my-2 rounded-md w-24 h-10 text-gray-100" />
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hlm-toaster />
